doctype 5
html
  head
    title Mochi Test
    != js("vendor/jquery")
    != js("vendor/underscore")
    script(src="/channel/bcsocket.js")
    script(src="/share/share.js")
    != js("mochi-sharejs")
    != css("mochi")

  #note
    input#title.title(type="text")
    #title-hint.text-hint Title
    | <div id="editor">!{note.content ? note.content : "<div data-timestamp='"+Date.now()+"'><br /></div>"}</div>

  | <script> $(function(){ window.editor = new MochiEditor("#{note.id}", /*prompt('Enter a username.')*/""+Math.floor(Math.random() * 100)); }); </script>