doctype 5
html
  head
    title SocketSync
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")

  body
    .container
      h1 Note #{note.id}
      input#name
      button Add Line

      hr

      .note-body

      	#{note.content}

         #line1 Hello

         #line2 Hello

         script(src="/note.js")