doctype 5
html
  head
    title SocketSync
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/note.js")

  body
    .container
      h1 Note #{note._id}
      form
        input(type="hidden", id="note-id", value="#{note._id}")
        input#line-text
        button#add-line-button Add Line

      hr

      .note-body!= note.content
