doctype 5
html
  head
    title SocketSync
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    != js("vendor/socket.io.js")
    != js("note")
    != css("note")

  body
    .container
      h1 Note #{note.id}
      form
        input(type="hidden", id="note-id", value="#{note.id}")
        input#line-text(placeholder="Type a line - hit enter to submit")
        button#add-line-button Add Line

      hr

      .note-body!= note.content
