doctype 5
html
  head
    title SocketSync
    | <script>var SocketSync = {}; SocketSync.note_id = "#{note.id}";</script>
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    != js("vendor/socket.io.js")
    != js("note")
    != css("note")

  body
    .container
      h1 Note #{note.id}
      form#add-line-form
        input#underneath-id(type="hidden")
        input.input-big#line-text(placeholder="Type a line - hit enter to submit")
        button Add Line

      form#update-line-form
        input.div-id(type="hidden")
        input.input-long.div-text(type="text")
        button Update Line

      .note-body!= note.content
